<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265010857350-eecndudkmikvstlkf2932iisiv316j56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265010857350-eecndudkmikvstlkf2932iisiv316j56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265010857350-ej8r98mdkgimno07tpfkah7vjta03mdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALgiyGGnDHGfBGjIEIzA3oFg-Jry4Vyuk</string>
	<key>GCM_SENDER_ID</key>
	<string>265010857350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambuvians</string>
	<key>PROJECT_ID</key>
	<string>ambuvians-833cc</string>
	<key>STORAGE_BUCKET</key>
	<string>ambuvians-833cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265010857350:ios:693c1d0c48b2c302da9807</string>
	<key>DATABASE_URL</key>
	<string>https://ambuvians-833cc-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>